body {
    font-family: 'Times New Roman', serif;

    /* OTRAS FUENTES QUE ME GUSTAN:

    'Courier New', monospace; 'Copperplate', fantasy;
     */

    background-color: Ivory;
}

h1 {
    font-size: 2em;
    color: Indigo;
    text-align: center;
}